@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
 
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #cecccc;
    color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.507);
    
  }
  
  .container {
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: #0F110C;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgb(157, 82, 255);
  }
  .first-title{
    background-color: #331832;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 15px;
  }

  .first-title h1 {
    font-size: 2.4rem;
  }
  
  #time-display {
    margin: auto;
    width: 20rem;
    text-align: center;
    align-items: center;
    font-size: 48px;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #9D6381;
    border-radius: 15px;
    color: #ffffff;
  }
  .controls button{
    background-color: #9D6381;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.507);
  }
  
  .time-setter button {
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #703786;
    border-radius: 15px;
    border: none;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.507);
  }
  
  .time-setter {
    margin-top: 2rem;
    background-color: #331832;
    padding: 1rem;
    border-radius: 15px;
  }
  
  .time-setter input {
    color: white;
    background-color: #9D6381;
    width: 20%;
    padding: 8px;
    font-size: 16px;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
  }
  input::placeholder{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.507);
  }
  button{
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  